# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Env files (NEVER commit secrets)
.env
.env.*.local
.env.local
.env.save
*.save
.*.swp

# macOS
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
logs/

# OS
Thumbs.db

# Build artifacts
ios/build/
android/build/
android/app/build/
